{% extends "base.html" %}

{% block title %}Confirm sign up | Private Diary{% endblock %}

{% block activate_login %}active{% endblock %}


{% block contents %}
<div class="container">
  <div class="row">
    <div class="my-div-style"></div>
      <h1>ユーザー登録</h1>
      {% if confirmation %}
        <p>ユーザー登録を確定するには、以下のボタンを押下してください。</p>
        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">確定</button>
        </form>
      {% else %}
        {% url 'account_email' as email_utl %}
        <p>リンクの有効期限が過ぎています。<a href="{{ email_url }}">再申請</a> </p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
